trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: SecurityScan
  displayName: "FortressCI Security"
  jobs:
  - job: SecretScan
    displayName: "Secret Scan (TruffleHog)"
    steps:
    - script: |
        docker run --rm -v $(pwd):/workdir trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD~1 --fail
      displayName: "Run TruffleHog"

  - job: SAST
    displayName: "SAST (Semgrep)"
    steps:
    - script: |
        docker run --rm -v $(pwd):/src returntocorp/semgrep semgrep --config auto --sarif -o /src/semgrep.sarif /src
      displayName: "Run Semgrep"
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'semgrep.sarif'
        ArtifactName: 'semgrep-report'

  - job: SCA
    displayName: "SCA (Snyk)"
    steps:
    - script: |
        npm install -g snyk
        snyk test --json > snyk.json
      displayName: "Run Snyk"
      env:
        SNYK_TOKEN: $(SNYK_TOKEN)
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'snyk.json'
        ArtifactName: 'snyk-report'

  - job: IaC
    displayName: "IaC Scan (Checkov)"
    steps:
    - script: |
        docker run --rm -v $(pwd):/tf bridgecrew/checkov:latest -d /tf --output-file-path /tf/checkov.sarif --output sarif
      displayName: "Run Checkov"
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'checkov.sarif'
        ArtifactName: 'checkov-report'
